<!--The content below is only a placeholder and can be replaced.-->



<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Custom Checkbox Form</h1>
        <form [formGroup]="form" (ngSubmit)="submit(form.value)">

          <div class="form-group">
            <label>
              <app-custom-checkbox formControlName="selection"></app-custom-checkbox>
              Checkbox 1
            </label>
          </div>

          <button type="submit" class="btn btn-primary" [disabled]="!form.valid || !form.touched">Submit</button>
        </form>

    </div>
  </div>
</div> 







<router-outlet></router-outlet>
